@import url('https://fonts.cdnfonts.com/css/minecraft-4');

.cabecalho {
    color: #591bcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1, & h2 {
        font-family: 'Minecraft', sans-serif;
        text-shadow: 2px 2px 2px #000;

        &:hover {
            animation-name: brilho;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    }

    & h1 {
        font-size: 5vw;
    }

    & h2 {
        font-size: 4vw;
    }

    & ul {
        padding: 20px;
        font-family: 'Minecraft', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        gap: 20px;
        
        & li {
            display: flex;
            justify-content: space-evenly;

            @mixin link($fontTamanho, $isNegrito: false) {
                font-size: $fontTamanho;
                transition: font-size .5s;

                text-decoration: none;
                font-family: 'Minecraft', sans-serif;

                color: #591bcc;

                @if $isNegrito == true {
                    text-shadow: 2px 2px 2px #000;

                } @else {
                    text-shadow: 1px 1px 1px #000;
                    
                }

                &:hover {
                    color: #8f5af1;
                }
            }

            .lonk {
                @include link(2rem, false);
                
                
            }
            .active {
                @include link(3rem, true);


            }
        }
    }



}

@keyframes brilho {
    0%, 100% { color: #591bcc;}
    50% {
        color: #000000;
    }
}