@import url('https://fonts.cdnfonts.com/css/minecraft-4');


$fonteFamiliaPadrao: 'Minecraft', sans-serif;

@mixin fonte($fonteEstilo: normal, $fonteVariante: normal, $fontePeso: normal, $fonteStretch: normal, $fonteTamanho: 1rem, $alturaLinha: normal, $fonteFamilia: $fonteFamiliaPadrao) {
    font-style: $fonteEstilo;
    font-variant: $fonteVariante;
    font-weight: $fontePeso;
    font-stretch: $fonteStretch;
    font-size: $fonteTamanho;
    line-height: $alturaLinha;
    font-family: $fonteFamilia;
};


.container{
    background-color: rgba(0,0,0,0.7);
    color: #fff;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    

    & h1 {
        @include fonte();
        margin: auto;
        text-align: center;
    }
    
    & label {
        @include fonte();
    }
}